html{
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
body {
    background: url('https://ucarecdn.com/25f34c1a-2d67-4de8-898a-97b27ced5357/anhnen3.jpg') center;
    height: 100vh;
    width: 100vw;
    /*Chữ mặc định thiết bị System Fonts as used by Medium and WordPress */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.video-parent2, .video-child2{
    display: none;
}
.video-parent1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.video-parent1 .video-child1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#tieu-de {
    user-select: none;
    font-family: "Kablammo", serif;
    font-weight: bolder;
    margin-top: 0%;
    font-size: 550%;
    text-align: center;
    color: transparent;
    background: linear-gradient(90deg, red, yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    animation: colorChange 5s ease infinite;
}
@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
#icon {
    height: 6vh;
    width: 25vw;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    margin-top: 1.5%;
    border: 1rem double greenyellow;
    background-color: black;
    border-radius: 99.9rem;
    box-shadow: 0rem 0rem 3rem azure;
    margin-left: 36vw;
}
.fa-solid{
    color: aqua;
    width: 3vw;
    height: 3vh;
    font-size: 3rem;
    margin-right: 1rem;
}
.fa-solid:hover{
    color: gold;
    font-size: 4rem;
}
.fa-solid:active{
    color: lawngreen;
}
.fa:visited{
    color: azure;
}
#trang-chu{
    width: 100vw;
    text-decoration: none;
    font-size: 1.5rem;
    color: aquamarine;
}
#trang-chu:hover{
    color: azure;
}
#trang-chu:active{
    color: lawngreen;
}
#trang-chu:visited{
    color: azure;
}
#on-tap{
    width: 100vw;
    text-decoration: none;
    font-size: 1.5rem;
    color: aquamarine;
    margin-left: 10% ;
}
#on-tap:hover{
    color: azure;
}
#on-tap:active{
    color: lawngreen;
}
#on-tap:visited{
    color: azure;
}

#trang-thai{
    display: inline;
}
.box{
    border-radius: 99.9rem;
    width: 20%;
    height: 20%;
    background-color: black;
    color: snow;
    /* border: 0.2rem groove white; */
    text-align: center;
    font-family: "Lobster", serif;
    font-size: 420%;
    user-select: none;
    color: transparent;
    background: linear-gradient(90deg, red, yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    animation: colorChange 5s ease infinite;
}
.box1{
    user-select: none;
    padding-top: 2%;
    height: 45%;
    width: 6%;
    margin-left: 47%;
    margin-top: 3%;
    box-shadow: 0rem 0rem 4rem chartreuse;
}

.box2 {
    user-select: none;
    height: 20vh;
    width: 8vw;
    padding-top: 6.5%;
    padding-bottom: 1%;
    margin-left: 35%;
    margin-top: -19.5%;
    box-shadow: 0rem 0rem 2rem cyan;
}

.box3 {
    user-select: none;
    height: 20vh;
    width: 8vw;
    padding-top: 6%;
    padding-bottom: 2%;
    margin-left: 57%;
    margin-top: -17.2%;
    box-shadow: 0rem 0rem 2rem cyan;
}
.box1_1{
    display: none;
}
.box4{
    width: 28%;
    height: 40%;
    color: aliceblue;
    text-align: center;
    font-size: 250%;
    font-family:"Lobster", serif;
    margin-top: -55vh;
    margin-left: 12vw;
}
.p_0{
    border: 0.5rem solid aqua;
    margin: 2rem;
    border-radius: 99.9rem;
    width: 50%;
    height: 15%;
    padding-top: 1rem;
    box-shadow: -1rem 0rem 2rem silver;
}
.p_0:hover{
    background-color: pink;
    color: black;
    box-shadow: 0 0 0 ;
}
.p_1{
    border: 0.5rem solid aqua;
    margin: 2rem;
    border-radius: 99.9rem;
    width: 50%;
    height: 15%;
    padding-top: 1rem;
    box-shadow: 2rem 0rem 2rem silver;
}
.p_1:hover{
    background-color: cyan;
    color: black;
    box-shadow: 0 0 0 ;
    border: 0.5rem solid pink;
}
.box5{
    width: 28%;
    height: 40%;
    color: aliceblue;
    text-align: center;
    font-size: 250%;
    font-family:"Lobster", serif;
    margin-top: -44vh;
    margin-left: 70vw;
}
.clock {
    display: none;
}
.clock1 {
    display:block;
    background: black;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0rem 0rem 2rem red;
    text-align: center;
    width: 18rem;
    height: 8rem;
    margin-top: -60vh;
    margin-left: 13vw;}
.time1 {
    font-size: 4rem;
    font-weight: bold;
    color: aliceblue;
}
.date1 {
    font-size: 2.4rem;
    margin-top: 10px;
    color: aquamarine;
}
@media only screen and (max-width:600px){
    .video-parent1, .video-child1{
        display: none;
    }
    .video-parent2{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        overflow: hidden;
    }
    
    .video-parent2 .video-child2{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    
    .clock1{
        display: none;
    }
    .clock {
        background: black;
        box-shadow: 0rem 0rem 2rem rgb(123, 247, 101);
        text-align: center;
        width: 25%;
        height: 97%;
        border-radius: 10rem;
        margin-top: 2.2%;
        margin-left: -35%;
        display: inline-block;
    }
    
    .time {
        font-size: 1rem;
        font-weight: bold;
        color: aliceblue;
        padding: 0.5rem;
        padding-top: 1rem;
    }
    .date {
        font-size: 0.6rem;
        color: aquamarine;
    }
    #icon {
        height: 5.5vh;
        width: 75vw;
        padding-top: 0%;
        text-decoration: none;
        text-align: center;
        margin-top: 7%;
        border: 1rem double greenyellow;
        background-color: black;
        border-radius: 99.9rem;
        box-shadow: 0rem 0rem 3rem azure;
        margin-left: 7.7vw;
    }
    #trang-chu{
        width: 100vw;
        text-decoration: none;
        font-size: 1.5rem;
        color: aquamarine;
        margin-right: -3vw;
        margin-top: -10%;
        
    }
    #on-tap{
        width: 100vw;
        text-decoration: none;
        font-size: 1.5rem;
        color: aquamarine;
        margin-right: -25vw;
    }
    .fa-solid{
    color: aqua;
    width: 7.5vw;
    height: 3vh;
    font-size: 3rem;
    margin-right: 2.5vw;
    }
    .box{
        border-radius: 99.9rem;
        width: 20vw;
        height: 20vh;
        background-color: black;
        color: snow;
        /* border: 0.2rem groove white; */
        text-align: center;
        font-family: "Lobster", serif;
        font-size: 200%;
        user-select: none;
        color: rgb(62, 252, 125);
        color: transparent;
        background: linear-gradient(120deg, blue,magenta,green, white);
        background-size: 400% 400%;
        color: transparent;
        -webkit-background-clip: text;
        animation: colorChange 5s ease infinite;

    }
    .box1{
        display: none;
    }
    .box1_1{
        user-select: none;
        display: inline-block;
        padding-top: 2%;
        height: 5%;
        width: 65%;
        margin-left: 16%;
        margin-top: 13%;
        padding-top: 5%;
        box-shadow:inset 0rem 0rem 2rem black;
    }
    
    .box2 {
        user-select: none;
        height: 3.5%;
        width: 33%;
        padding-top: 3%;
        padding-bottom: 1%;
        margin-left: 15%;
        margin-top: 6%;
        box-shadow:inset 0rem 0rem 3rem black;
    }
    
    .box3 {
        user-select: none;
        height: 3.5%;
        width: 33%;
        padding-top: 3%;
        padding-bottom: 1%;
        margin-left: 50%;
        margin-top: -10%;
        box-shadow:inset 0rem 0rem 2rem black;
    }
    .box4{
        width: 49%;
        height: 50vh;
        color: transparent;
        background: linear-gradient(90deg, red, black, green, yellow, blue, white);
        background-size: 400% 400%;
        color: transparent;
        -webkit-background-clip: text;
        animation: colorChange 5s ease infinite;
        text-align: center;
        font-size: 150%;
        font-family:"Lobster", serif;
        margin-top: 3vh;
        margin-left: -3.5vw;
    }
    .p_0{
        user-select: none;
        border: 0.2rem solid black;
        margin: 2.5rem;
        margin-left: 35%;
        border-radius: 99.9rem;
        width: 65%;
        height: 5%;
        padding-bottom: 0.8rem;
        box-shadow: -1rem 1rem 2rem black;
    }
    .p_0:hover{
        background-color: pink;
        color: black;
        box-shadow: 0 0 0 ;
    }
    .p_1{
        user-select: none;
        border: 0.2rem solid black;
        margin: 2.5rem;
        border-radius: 99.9rem;
        width: 65%;
        height: 5%;
        padding-bottom: 0.8rem;
        box-shadow: 1rem 1rem 2rem black;
    }
    .p_1:hover{
        background-color: cyan;
        color: black;
        box-shadow: 0 0 0 ;
        border: 0.2rem solid pink;
    }
    .box5{
        width: 49%;
        height: 50vh;
        color: transparent;
        background: linear-gradient(90deg, red, black, green, yellow, blue, white);
        background-size: 400% 400%;
        color: transparent;
        -webkit-background-clip: text;
        animation: colorChange 5s ease infinite;
        text-align: center;
        font-size: 150%;
        font-family:"Lobster", serif;
        margin-top: -53.3vh;
        margin-left: 46vw;
        
    }
    
}

